.cen{
    display: flex;
    justify-content: center;
    margin: 50px 38%;
    
}
.btn-primary , {
    height: 40px;
    
}
.btn-danger {
    height: 40px;
    width: 100px ;
}
.in {
    width: 300px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color:rgb(236, 233, 233) ;
}
.in:focus{
    border-color:lightskyblue ;
}
.cen1{
    display: flex;
    justify-content: center;
    margin-left: 40%;
    margin-right: 40%;
    
    
}
html,
body {
  margin: 0;
  padding: 0;
  background-image:url(cool-background.png);
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}
   
.heading{
    text-align:center ;
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 70px;
}
.btn-warning{
    padding: 0px; !imported
}
   